---
import Container from "../Container.astro";
import GridLines from "../GridLines.astro";
import Heading from "../Heading.astro";
import { faq } from "../../data/home";
---

<section id="faq" class="relative bg-paper text-charcoal">
  <GridLines />
  <Container class="relative z-10 py-16 sm:py-24 lg:py-32">
    <Heading as="h2" size="lg" class="text-charcoal" data-split>Часто задаваемые вопросы</Heading>

    <div class="mt-12">
      {
        faq.map((item) => (
          <details data-reveal class="group border-t border-grey-200">
            <summary class="flex cursor-pointer list-none items-center justify-between gap-6 py-7 [&::-webkit-details-marker]:hidden">
              <Heading as="h3" size="sm" class="text-charcoal">{item.q}</Heading>
              <svg
                width="22"
                height="22"
                viewBox="0 0 22 22"
                fill="none"
                aria-hidden="true"
                class="shrink-0 text-charcoal transition-transform duration-300 group-open:rotate-180"
              >
                <path d="M5 8l6 6 6-6" stroke="currentColor" stroke-width="1.6" stroke-linecap="square" />
              </svg>
            </summary>
            <p class="max-w-3xl pb-7 text-grey-500">{item.a}</p>
          </details>
        ))
      }
    </div>
  </Container>
</section>
