---
import Container from "../Container.astro";
import Heading from "../Heading.astro";
import Button from "../Button.astro";
import { services } from "../../data/home";
---

<section id="services" class="bg-paper text-charcoal">
  <Container class="py-16 sm:py-24 lg:py-32">
    <Heading as="h2" size="lg" class="max-w-2xl text-charcoal">
      Выполняем остекление объектов под ключ
    </Heading>

    <div class="mt-12 flex flex-col gap-16 sm:gap-20">
      {
        services.map((s) => (
          <article class="border-t border-grey-200 pt-10">
            <div class="overflow-hidden">
              <img
                src={s.img}
                alt={s.title}
                loading="lazy"
                decoding="async"
                class="aspect-[16/9] w-full object-cover"
              />
            </div>
            <div class="mt-8 grid grid-cols-1 gap-6 lg:grid-cols-12">
              <div class="lg:col-span-7">
                <Heading as="h3" size="md" class="text-charcoal">{s.title}</Heading>
                <p class="mt-4 max-w-xl text-grey-500">{s.desc}</p>
              </div>
              <div class="flex items-start lg:col-span-5 lg:justify-end">
                <Button variant="light" href="#invoice">Оставить заявку</Button>
              </div>
            </div>
          </article>
        ))
      }
    </div>
  </Container>
</section>
