---
import Container from "../Container.astro";
import GridLines from "../GridLines.astro";
import Heading from "../Heading.astro";
import { stages } from "../../data/home";
---

<section id="stages" class="relative bg-paper text-charcoal">
  <GridLines />
  <Container class="relative z-10 py-16 sm:py-24 lg:py-32">
    <Heading as="h2" size="lg" class="max-w-2xl text-charcoal" data-split>
      Прозрачный процесс реализации проекта
    </Heading>

    <div class="mt-12">
      {
        stages.map((s) => (
          <article data-reveal class="grid grid-cols-1 gap-4 border-t border-grey-200 py-8 lg:grid-cols-12 lg:gap-8">
            <span class="text-grey-400 lg:col-span-1">{s.num}</span>
            <Heading as="h3" size="sm" class="text-charcoal lg:col-span-5">
              {s.title}
            </Heading>
            <p class="max-w-xl text-grey-500 lg:col-span-6">{s.desc}</p>
          </article>
        ))
      }
    </div>
  </Container>
</section>
