---
import Layout from "../layouts/Layout.astro";
import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";
import Hero from "../components/sections/Hero.astro";
import Stats from "../components/sections/Stats.astro";
import Services from "../components/sections/Services.astro";
import Advantages from "../components/sections/Advantages.astro";
import Objects from "../components/sections/Objects.astro";
import Partners from "../components/sections/Partners.astro";
import Stages from "../components/sections/Stages.astro";
import CtaCalc from "../components/sections/CtaCalc.astro";
import Faq from "../components/sections/Faq.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Stats />
    <Services />
    <Advantages />
    <Objects />
    <Partners />
    <Stages />
    <CtaCalc />
    <Faq />
  </main>
  <Footer />
</Layout>
