---
// Inline logo with currentColor fill, so it follows transparent/sticky header color.
interface Props {
  class?: string;
  title?: string;
}

const { class: className = "", title } = Astro.props;
const titleId = title ? "logo-title" : undefined;
---

<svg
  width="80"
  height="36"
  viewBox="0 0 80 36"
  fill="currentColor"
  role={title ? "img" : undefined}
  aria-hidden={title ? undefined : "true"}
  aria-labelledby={titleId}
  class={className}
>
  {title && <title id={titleId}>{title}</title>}
  <path
    d="M74.8396 35.9582H72.4445V20.7387H80V35.9582H77.5613V22.9129H74.8396V35.9582Z"
  ></path>
  <path
    d="M65.7652 35.9582H63.3701V20.7387H70.9256V35.9582H68.487V22.9129H65.7652V35.9582Z"
  ></path>
  <path
    d="M60.0125 32.0881C59.7077 33.5665 59.2505 34.5812 58.6408 35.132C57.915 35.7987 56.761 36.0814 55.1788 35.9799V33.8492C55.832 33.8927 56.311 33.8347 56.6158 33.6752C56.9787 33.4868 57.2037 33.1317 57.2908 32.6099L57.3126 32.4794L54.003 20.7387H56.3763L57.6827 25.935L58.423 29.5007L58.9892 25.9568L60.0779 20.7387H62.5818L60.0125 32.0881Z"
  ></path>
  <path
    d="M50.2372 20.7387C52.6178 20.7387 53.8081 21.9925 53.8081 24.5001V26.4786C53.8081 28.9862 52.6178 30.24 50.2372 30.24H49.1049V35.9582H46.7098V20.7387H50.2372ZM49.1049 22.9129V28.0658H50.2372C51.021 28.0658 51.413 27.5874 51.413 26.6308V24.3479C51.413 23.3912 51.021 22.9129 50.2372 22.9129H49.1049Z"
  ></path>
  <path d="M38.9968 35.9582V20.7387H45.3112V22.9129H41.3919V35.9582H38.9968Z"
  ></path>
  <path
    d="M79.7305 11.8863V13.9083C79.7305 16.4594 78.5402 17.7349 76.1596 17.7349C73.779 17.7349 72.5887 16.4594 72.5887 13.9083V5.99417C72.5887 3.44309 73.779 2.16756 76.1596 2.16756C78.5402 2.16756 79.7305 3.44309 79.7305 5.99417V7.47263H77.4661V5.84197C77.4661 4.84184 77.0524 4.34177 76.225 4.34177C75.3976 4.34177 74.9839 4.84184 74.9839 5.84197V14.0605C74.9839 15.0461 75.3976 15.539 76.225 15.539C77.0524 15.539 77.4661 15.0461 77.4661 14.0605V11.8863H79.7305Z"
  ></path>
  <path
    d="M67.3813 8.75542H70.6691V10.9296H67.3813V15.3868H71.5183V17.561H64.9862V2.3415H71.5183V4.51571H67.3813V8.75542Z"
  ></path>
  <path
    d="M54.7264 15.4085C55.3071 15.4085 55.6845 15.3215 55.8587 15.1476C56.0764 14.9592 56.1925 14.5243 56.2071 13.8431L56.599 2.3415H63.3706V17.561H60.932V4.51571H58.8417L58.5804 13.7126C58.5369 15.1041 58.2465 16.097 57.7094 16.6913C57.1724 17.2856 56.3014 17.5827 55.0966 17.5827H54.7264V15.4085Z"
  ></path>
  <path
    d="M49.998 8.75542H53.2858V10.9296H49.998V15.3868H54.135V17.561H47.6029V2.3415H54.135V4.51571H49.998V8.75542Z"
  ></path>
  <path
    d="M42.5894 2.3415C44.9555 2.3415 46.1386 3.50833 46.1386 5.84198V6.38553C46.1386 7.95097 45.6232 8.97285 44.5926 9.45117C45.7829 9.915 46.3781 11.0021 46.3781 12.7125V13.9518C46.3781 16.3579 45.166 17.561 42.7419 17.561H38.975V2.3415H42.5894ZM41.3701 10.7122V15.3868H42.7419C43.5693 15.3868 43.983 14.8867 43.983 13.8866V12.5603C43.983 11.8645 43.8596 11.379 43.6128 11.1036C43.3806 10.8427 42.9886 10.7122 42.437 10.7122H41.3701ZM41.3701 4.51571V8.538H42.3064C43.2644 8.538 43.7434 8.0017 43.7434 6.92909V6.08114C43.7434 5.03752 43.337 4.51571 42.5241 4.51571H41.3701Z"
  ></path>
  <path
    d="M33.0794 22.8635V35.9581H0V22.8635L22.1925 17.4594L33.0794 22.8635ZM22.1925 33.6718H30.7997V24.1106L22.1925 19.7458V33.6718Z"
  ></path>
  <path
    d="M33.0794 9.35327V21.8243L22.1925 16.4202L0 21.8243V9.35327L22.1925 0L33.0794 9.35327ZM22.1925 14.1338L30.9857 18.7065V9.97682L22.1925 2.28635V14.1338Z"
  ></path>
</svg>
