---
// Inline-логотип welton с fill="currentColor" — следует за цветом шапки
// (светлая/тёмная/прозрачная при скролле). Знак слева, начертание welton справа.
interface Props {
  class?: string;
  title?: string;
}

const { class: className = "", title } = Astro.props;
const titleId = title ? "logo-title" : undefined;
---

<svg
  width="506"
  height="99"
  viewBox="0 0 506 99"
  fill="currentColor"
  role={title ? "img" : undefined}
  aria-hidden={title ? undefined : "true"}
  aria-labelledby={titleId}
  class={className}
>
  {title && <title id={titleId}>{title}</title>}
  <path
    d="M204.885 29.354H222.124L202.117 93.1678H186.639L175.062 54.4965L163.485 93.1678H148.008L128 29.354H145.239L155.935 68.5359L167.386 29.354H182.738L194.189 68.663L204.885 29.354Z"
  ></path>
  <path
    d="M240.872 68.0253C243.053 76.0234 248.967 80.0217 258.615 80.0217C264.822 80.0217 269.521 77.8947 272.708 73.6407L285.795 81.2985C279.587 90.4024 270.443 94.9544 258.363 94.9544C247.961 94.9544 239.614 91.7639 233.322 85.3822C227.03 79.0013 223.885 70.9608 223.885 61.2609C223.885 51.6464 226.988 43.6483 233.196 37.2666C239.404 30.8002 247.374 27.5674 257.105 27.5674C266.333 27.5674 273.925 30.8002 279.881 37.2666C285.921 43.7337 288.941 51.7311 288.941 61.2609C288.941 63.3879 288.731 65.6427 288.312 68.0253H240.872ZM240.62 55.2627H272.708C271.786 50.9233 269.856 47.6897 266.92 45.5627C264.068 43.4357 260.796 42.3722 257.105 42.3722C252.742 42.3722 249.135 43.5205 246.283 45.8176C243.431 48.0301 241.544 51.1782 240.62 55.2627Z"
  ></path>
  <path d="M299.016 93.1679V0H315.248V93.1679H299.016Z"></path>
  <path
    d="M364.835 45.1803H350.616V71.7266C350.616 73.9391 351.161 75.5555 352.252 76.5766C353.342 77.5977 354.936 78.193 357.033 78.3632C359.13 78.4479 361.732 78.4056 364.835 78.2354V93.1681C353.678 94.4441 345.793 93.3806 341.178 89.9769C336.648 86.5739 334.383 80.4902 334.383 71.7266V45.1803H323.436V29.3543H334.383V16.4639L350.616 11.4868V29.3543H364.835V45.1803Z"
  ></path>
  <path
    d="M426.662 85.2544C420.203 91.7208 412.317 94.9544 403.005 94.9544C393.693 94.9544 385.808 91.7208 379.349 85.2544C372.973 78.7033 369.785 70.7052 369.785 61.2609C369.785 51.8166 372.973 43.8608 379.349 37.3944C385.808 30.8433 393.693 27.5674 403.005 27.5674C412.317 27.5674 420.203 30.8433 426.662 37.3944C433.122 43.8608 436.352 51.8166 436.352 61.2609C436.352 70.7052 433.122 78.7033 426.662 85.2544ZM390.8 73.8957C394.071 77.214 398.139 78.8735 403.005 78.8735C407.871 78.8735 411.939 77.214 415.211 73.8957C418.483 70.5774 420.119 66.3658 420.119 61.2609C420.119 56.156 418.483 51.9444 415.211 48.6261C411.939 45.3078 407.871 43.6483 403.005 43.6483C398.139 43.6483 394.071 45.3078 390.8 48.6261C387.611 51.9444 386.017 56.156 386.017 61.2609C386.017 66.3658 387.611 70.5774 390.8 73.8957Z"
  ></path>
  <path
    d="M481.493 27.5674C488.372 27.5674 494.035 29.9069 498.481 34.5867C503.011 39.2665 505.276 45.7329 505.276 53.9859V93.1678H489.043V56.0282C489.043 51.7742 487.911 48.5406 485.646 46.3282C483.381 44.031 480.361 42.8828 476.586 42.8828C472.392 42.8828 469.036 44.2012 466.519 46.8388C464.003 49.4763 462.744 53.433 462.744 58.7081V93.1678H446.512V29.354H462.744V36.5011C466.687 30.5453 472.937 27.5674 481.493 27.5674Z"
  ></path>
  <path
    d="M5.49206 98.222C5.49206 97.8212 5.49206 97.5045 5.49206 97.1896C5.49206 86.4775 5.50153 75.7657 5.47941 65.0536C5.47941 64.3791 5.71161 64.0291 6.25972 63.6712C10.1676 61.1207 14.0501 58.5322 17.9422 55.9549C18.1791 55.7991 18.4208 55.6495 18.7872 55.4173V84.998C19.8835 84.2901 20.8217 83.6839 21.7601 83.076C32.5579 76.0789 43.3573 69.0851 54.1426 62.0675C54.6371 61.7461 54.9356 61.8972 55.3272 62.1502C62.5268 66.7975 69.7266 71.4462 76.9372 76.0774C81.4832 78.9969 86.0482 81.8892 90.6053 84.7912C90.8453 84.944 91.0948 85.0822 91.4503 85.2922V55.4681C91.7488 55.6034 91.9369 55.6621 92.0964 55.7641C96.219 58.4177 100.345 61.0684 104.445 63.7586C104.695 63.9224 104.858 64.4045 104.859 64.7402C104.884 72.9336 104.884 81.1273 104.886 89.319C104.886 92.0506 104.88 94.7808 104.873 97.5124C104.873 97.721 104.856 97.9293 104.843 98.2141C104.564 98.2299 104.31 98.2556 104.055 98.2556C98.3166 98.2635 92.5781 98.2778 86.8396 98.2556C86.4019 98.2539 85.9077 98.09 85.5364 97.8498C75.4083 91.3301 65.2911 84.7944 55.1819 78.2443C54.697 77.9309 54.3589 77.9022 53.8552 78.2332C43.828 84.8166 33.7883 91.3793 23.7422 97.934C23.4721 98.1107 23.1232 98.2603 22.8104 98.2603C17.2566 98.2778 11.7013 98.2699 6.14757 98.265C5.96751 98.265 5.78901 98.2396 5.49521 98.2188L5.49206 98.222Z"
  ></path>
  <path
    d="M0.0158696 59.1242C0.0158696 58.7774 0.0158696 58.5466 0.0158696 58.316C0.0158696 53.3855 0.0300856 48.4536 7.39316e-05 43.5232C-0.00466476 42.8518 0.218055 42.4858 0.766163 42.1326C10.4094 35.9296 20.051 29.7231 29.6564 23.4627C30.7177 22.7707 31.4238 22.7977 32.4917 23.4914C39.1401 27.8204 45.8515 32.0507 52.538 36.3208C61.0913 41.7843 69.643 47.2508 78.1854 52.7316C78.4049 52.8716 78.6324 53.2075 78.6324 53.4523C78.6544 58.7009 78.6449 63.9511 78.6402 69.1997C78.6402 69.273 78.6118 69.346 78.5722 69.5433C78.1617 69.2856 77.792 69.0597 77.427 68.8242C64.2725 60.284 51.1196 51.7421 37.965 43.2018C35.7977 41.7954 33.6132 40.4144 31.4602 38.9858C30.9626 38.6548 30.6373 38.693 30.1477 39.0208C20.2295 45.6758 10.2957 52.3068 0.364952 58.9428C0.300191 58.9857 0.22753 59.0143 0.0158696 59.1242Z"
  ></path>
  <path
    d="M110.305 58.7981C87.891 43.8892 65.4913 29.1346 42.2829 15.3934C43.7818 14.3816 45.1291 13.4715 46.4764 12.5631C49.1018 10.794 51.7332 9.03753 54.3444 7.24929C54.7913 6.94382 55.1025 6.90405 55.5921 7.21428C66.9556 14.4436 78.3457 21.63 89.7014 28.872C96.4586 33.1821 103.169 37.5699 109.888 41.9418C110.128 42.0977 110.389 42.4556 110.39 42.7215C110.416 47.9715 110.405 53.2202 110.4 58.4703C110.4 58.5196 110.373 58.5673 110.305 58.7981Z"
  ></path>
</svg>
